.container {
  &--footer {
    display: flex;
  }
}

.footer {
  background-color: $footer-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
  .logo {
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
    align-items: flex-start;
  }
}

.address-section {
  padding-right: 70px;
}

.address {
  margin-top: 20px;

  font-style: normal;
  line-height: 1.71;
}

.join,
.subscribe {
  color: $white-text-color;
}

.subscribe {
  margin-left: auto;
}

.join__title,
.subscribe__title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  margin-bottom: 20px;
  padding-top: 12px;
}

.address__link {
  @extend %link;

  display: block;
  margin-bottom: 9px;
  color: $footer-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__text {
  display: block;
  margin-bottom: 9px;
  color: $white-text-color;
}

.subscribe-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  background-color: $transparent;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  color: $placeholder-text-color;

  transition: border-color 250ms $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.subscribe-form__btn {
  @include centeredFlex();
  @extend %btn;
  margin-left: 12px;
  box-shadow: $main-btn-shadow;
}

.subscribe-form__icon {
  fill: currentColor;
  margin-left: 10px;
}
